<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.internship.retailmanagement">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".common.GlobalVar"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_rm"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RetailManagement"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".controllers.InvoicedProductsActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.ChangeStoreActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.CreateStoreActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.StoreDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.StoresActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.CreateStockMovementActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.StockMovementActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.OrderProductsActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.CreateInvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.InvoiceDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.ChangeOperatingFundActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.CreateOperatingFundActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.ChangeProductActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.CreateProductActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.register.FinalRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.register.FirstRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.InvoicesActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.OperatingFundsActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.ProductsActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.ChangeUserDataActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.MainActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".ScreenActivity"
            android:exported="true"
            android:label="Retail Management">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>