<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.internship.retailmanagement">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".common.GlobalVar"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RetailManagement"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".controllers.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.ChangeProductActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.CreateProductActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.register.FinalRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.register.FirstRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.InvoicesActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.OperatingFundsActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.ProductsActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.UsersActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.ChangeUserDataActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.MainActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".ScreenActivity"
            android:exported="false"
            android:label="Retail Management" />
    </application>

</manifest>